.nav-tabs{
  display:flex;
  gap: 1rem;
}
.nav-tabs li{
list-style: none;
}

/* --- additional styles based on css injector entries  ----*/

.su-lockup {
  font-size: 2.44140625em;
  text-decoration: none;
  color: black;
}

.su-lockup img {
  margin-right: 1em;
}

legend {
    font-size: unset;
    letter-spacing: unset;
    font-weight: unset;
} 

h1 {
  margin-top: 2.5rem;
}
.btn-inline {
    display: inline-block;
    margin: .25em;
}

.views-row-lines .views-row {
    border-bottom: 1px solid #d2d3d4;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
}
